site_name: AsterTrack Documentation
site_url: https://docs.astertrack.dev

repo_name: Doc Repo
repo_url: https://github.com/AsterTrack/AsterTrack_Documentation
edit_uri: edit/main/docs/

theme:
  name: material
  logo: assets/astertrack_icon_white.svg
  favicon: assets/astertrack_favicon.png
  features:
    - navigation.instant
    - content.action.edit
    - content.action.view
  icon:
    repo: fontawesome/brands/git-alt
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: custom
      accent: custom

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: custom
      accent: custom
extra_css: [
  extra.css
]
plugins:
  - privacy
  - search
  - social

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

nav:
  - General:
    - Overview: index.md
    - Operation: operating.md
    - Known Issues: known_issues.md
    - Building: building.md
  - Setup:
    - Room Setup: room_setup.md
    - Mounting Hardware: mounting.md
    - Camera Calibration: calib_cameras.md
  - Tracking:
    - Trackers: tracking.md
    - Target Calibration: calib_target.md
    - IMU Calibration: calib_imu.md
  - Additional:
    - Updating: updating.md
    - Wireless: wireless.md
