:root  > * {
	--md-primary-fg-color:        hsl(201, 45%, 38%);
	--md-primary-fg-color--light: hsl(201, 45%, 38%);
	--md-primary-fg-color--dark:  hsl(201, 45%, 38%);
	--md-typeset-a-color:        hsl(201, 45%, 46%);
	--md-typeset-a-color--light: hsl(201, 45%, 50%);
	--md-typeset-a-color--dark:  hsl(201, 45%, 46%);
	--md-accent-fg-color:        hsl(201, 45%, 46%);
	--md-accent-fg-color--light: hsl(201, 45%, 50%);
	--md-accent-fg-color--dark:  hsl(201, 45%, 46%);
}
.md-header__button.md-logo {
	margin: auto 0;
	padding: auto 0;
}
.md-header__button.md-logo img {
	height: 1.6rem
}
[data-md-color-scheme="slate"] {
	--md-default-bg-color: #212426;
}